.signup {
	width: 37%;
	height: 75%;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	border-radius: 10px;
}
.signupForm{
	width: 87%;
	height: 90%;
	background: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}
